@import "tailwindcss";
@import "@nuxt/ui";

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  --v-layout-bottom: 0px !important;
}

.main-bottom {
  position: relative !important;
  margin-top: auto;
}

/* 由於引入 Bootstrap 導致vuetify本身顏色吃不到，故調高優先權 */
.bg-primary {
  background-color: rgb(var(--v-theme-primary)) !important;
  color: rgb(var(--v-theme-on-primary)) !important;
}

.custom-margin-b-8 {
  margin-bottom: 8rem !important;
}

.custom-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
}

/* 確保與 Bootstrap 的樣式一致 */
.custom-justify-center {
  justify-content: center;    /* 水平居中 */
}
.custom-align-center {
  align-items: center;    /* 垂直居中 */
}

/* 確認彈窗的確定按鈕樣式 */
.custom-confirm-button {
  color: #FFFFFF !important;    /* 文字顏色 */
  background-color: #0D6EFF !important;   /* 背景顏色 */
}

/* 確認彈窗的取消按鈕樣式 */
.custom-cancel-button {
  color: #FFFFFF !important;    /* 文字顏色 */
  background-color: red !important;   /* 背景顏色 */
}

/* 控制 Google 翻譯按鈕的邊框與背景 */
#google_translate_element select {
  background: #FFFFFF;
  border: 2px solid #ccc;
  font-size: 14px;
  padding: 4px;
}

/* 隱藏 Google Translate 的工具列 */
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
}

/* 覆寫 Vuetify expansion-panel 二級選單展開範圍 預設的 padding */
.v-expansion-panel-text__wrapper {
  padding: 0px 0px 0px 6px !important;
}

body {
  top: 0px !important;
}

/* 強制改變app bar高度 */
.v-app-bar .v-toolbar__content {
  height: auto !important;
  padding: 0 !important;
}

/* 圖片banner的indicator */
.swiper-pagination-text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10;    /* 確保文字顯示在圖片上層 */
}

/* 上傳區域顏色 */
.bg-default {
  background-color: white;
}
.bg-elevated {
    background-color: white;
}
.text-default {
  color: black;
}